setuptools==39.1.0
absl-py==0.4.1
altgraph==0.10.2
astor==0.7.1
astroid==1.6.5
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
bdist-mpkg==0.5.0
configparser==3.5.0
cycler==0.10.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
grpcio==1.15.0
isort==4.3.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
macholib==1.5.1
Markdown==2.6.11
matplotlib==2.2.3
mccabe==0.6.1
mock==2.0.0
modulegraph==0.10.4
numpy==1.14.5
opencv-python==3.4.3.18
pbr==4.2.0
Pillow==5.2.0
protobuf==3.6.1
py2app==0.7.3
pylint==1.9.3
pyparsing==2.0.1
python-dateutil==2.7.3
pytz==2013.7
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
subprocess32==3.5.2
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
Werkzeug==0.14.1
wrapt==1.10.11
